<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.spring.eze.admin.dao.AdminArtistMapper">

    <select id="selectArtistList"
            resultType="com.spring.eze.admin.dto.AdminMusicDTO">
        SELECT
            artist_id AS artistId,
            name AS artistName,
            profile_image_url AS profileImageUrl
        FROM artists_tbl
        ORDER BY artist_id DESC
    </select>

    <insert id="insertArtist"
            parameterType="com.spring.eze.admin.dto.AdminMusicDTO">
        INSERT INTO artists_tbl
        (
            artist_id,
            name,
            profile_image_url
        )
        VALUES
        (
            #{artistId},
            #{artistName},
            #{profileImageUrl}
        )
    </insert>

</mapper>