<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="com.spring.eze.show.dao.Seat.SeatDAO">  <!-- namespace="패키지명.인터페이스" -->

	<resultMap id="seatMap" type="com.spring.eze.show.dto.Seat.SeatDTO">
		<id property="id" column="id"/>
		<result property="showMe" column="show_me"/>
	</resultMap>
	
	<select id="selectSeatList" parameterType="map" resultType="com.spring.eze.show.dto.Seat.SeatDTO">
	SELECT
       seat_id,
       show_id,
       schedule_id,
       user_id,
       res_seat_label,
       seat_label,
       seat_grade,
       seat_status,
       hold_at
   FROM seat_tbl
   WHERE show_id = #{showId, jdbcType=VARCHAR}
     AND schedule_id = #{scheduleId, jdbcType=INTEGER}
   ORDER BY seat_label
	</select>

	<update id="updateHoldSeats">
		UPDATE seat_table
		SET seat_status = 'HELD',
			user_id = #{userId},
            hold_at = NOW()
        WHERE show_id = #{showId}
          AND schedule_id = #{scheduleId}
          AND seat_label IN 
          <foreach collection="seatLabels" item="label" open="(" separator="," close=")">
              #{label}
          </foreach>
          AND (seat_status = 'AVAILABLE' OR (seat_status = 'HELD' AND hold_at &lt; SUBTIME(NOW(), '0:5:0')))
    </update>
    
    <update id="updateReleaseExpiredSeats">
    	UPDATE seat_tbl
    	SET seat_status = 'AVAILABLE',
    		user_id = NULL,
    		hold_at = NULL
    	WHERE seat_status = 'HELD'
    	  AND hold_at &lt; SUBTIME(NOW(), '0:5:0')
    </update>

 </mapper>