<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.spring.eze.payment.dao.PaymentDAO">
<resultMap id="testMap" type="com.spring.eze.main.dto.TestDTO">
      <id property="id" column="id"/>
      <result property="showMe" column="show_me"/>
   </resultMap>
   
   <select id="testDBConnection" resultMap="testMap">
      SELECT * FROM eze_test_tbl
      WHERE ID = 1
   </select>
	
</mapper>