@charset "UTF-8";

body {
	background-color: #121212;
	color: #fff;
	font-family: 'Pretendard', sans-serif;
	margin: 0;
	padding: 20px;
}

.wrapper {
	display: flex;
	gap: 20px;
	max-width: 900px;
	margin: auto;
}

/* 타이머 ,공연 제목*/
.show-name-badge {
	margin-left: 15px;
	padding: 4px 12px;
	background: #333;
	color: #ED6701;
	border: 1px solid #ED6701;
	border-radius: 20px;
	font-size: 14px;
	font-weight: normal;
}


/* 헤더 */
.step-header{
	max-width: 900px;
	margin: 0 auto 15px auto;
	background: #1e1e1e;
	border: 1px solid #ED6701;
	border-radius: 10px;
	padding: 15px 20px;
	box-sizing: border-box;
}

.step-title{
	font-size: 20px;
	font-weight: bold;
	color: #fff;
	display: flex;
	align-items: center;
}


/* 왼쪽 섹션 */
.left-side {
	flex: 1.5;
}

.section-box {
	background: #1e1e1e;
	border: 1px solid #333;
	border-radius: 10px;
	padding: 20px;
	margin-bottom: 15px;
}

h3 {
	color: #ED6701;
	font-size: 18px;
	margin-top: 0;
	border-bottom: 1px solid #333;
	padding-bottom: 10px;
}

.seat-tag {
	display: inline-block;
	background: gold;
	color: #000;
	padding: 2px 8px;
	border-radius: 4px;
	font-weight: bold;
	margin-right: 5px;
	font-size: 12px;
}

.R-tag {
	background: #F54927;
	color: #fff;
}

.S-tag {
	background: #E427F5;
	color: #fff;
}

.guide-box {
	background: #2a2a2a;
	padding: 15px;
	border-radius: 8px;
	font-size: 13px;
	color: #bbb;
	line-height: 1.6;
	height: 120px;
	overflow-y: auto;
}

.agree-area {
	text-align: right;
	margin-top: 10px;
	font-size: 14px;
}

/* 오른쪽 섹션 */
.right-side {
	flex: 1;
}

.summary-box {
	background: #1e1e1e;
	border: 1px solid #333;
	border-radius: 10px;
	padding: 20px;
	position: sticky;
	top: 20px;
}

.info-row {
	display: flex;
	justify-content: space-between;
	margin-bottom: 10px;
	font-size: 14px;
}

.total-row {
	border-top: 1px solid #444;
	margin-top: 15px;
	padding-top: 15px;
	font-weight: bold;
	font-size: 18px;
	color: #ED6701;
}

.cancel-notice {
	font-size: 11px;
	color: #888;
	margin-top: 15px;
	line-height: 1.4;
}

/* 버튼 */
.footer-btns {
	display: flex;
	width: 100%;
	justify-content: flex-end;
	gap: 10px;
	margin-top: 20px;
	box-sizing: border-box;
}

.btn {
	flex: none;
	padding: 9px 13px;
	border: none;
	border-radius: 5px;
	font-weight: bold;
	cursor: pointer;
}

.btn-prev {
	background: #444;
	color: white;
}

.btn-next {
	background: linear-gradient(135deg, #DF8845, #ED6701);
	color: white;
}